In [1]:
import pandas as pd

In [4]:
file_path = 'D:/repos/scraping_data_from_web/pandas/data.csv'
df = pd.read_csv(file_path)

In [5]:
df

    CustomerID     Name   Age Gender Region    JoinDate  Sales     Product
0         1001    Alice  56.0      F   East  2021-01-01  700.0     Monitor
1         1002      Bob  46.0      F  South  2021-01-16  415.0      Tablet
2         1003  Charlie  32.0      F  South  2021-01-31  113.0      Tablet
3         1004    David  25.0      M   East  2021-02-15  341.0      Tablet
4         1005      Eve  38.0      M  South  2021-03-02  876.0      Tablet
5         1006    Frank   NaN      F   East  2021-03-17  445.0      Tablet
6         1007    Grace  36.0      F   West  2021-04-01  664.0     Monitor
7         1008    Helen  40.0      F   East  2021-04-16  997.0      Tablet
8         1009      Ivy  28.0      M   West  2021-05-01  439.0      Laptop
9         1010     Jack  28.0      F   West  2021-05-16  191.0  Smartphone
10        1011    Kathy  41.0      M  North  2021-05-31    NaN      Tablet
11        1012      Leo  53.0      M   East  2021-06-15  554.0      Tablet
12        1013     Mona  57.0      M  North  2021-06-30  527.0     Monitor
13        1014     Nina  41.0      M   East  2021-07-15  608.0      Tablet
14        1015    Oscar  20.0      M   East  2021-07-30  875.0      Tablet
15        1016     Paul  39.0      F  North  2021-08-14  134.0      Tablet
16        1017    Queen  19.0      F  North  2021-08-29  305.0     Monitor
17        1018   Robert  41.0      F   East  2021-09-13  180.0      Tablet
18        1019   Sophia  47.0      F  South  2021-09-28  661.0  Smartphone
19        1020      Tom  55.0      F   West  2021-10-13  971.0     Monitor
20        1003  Charlie  32.0      F  South  2021-01-31  113.0      Tablet

In [ ]:
df.rename(columns={'Age':'Customer_Age'}, inplace = True)

In [ ]:
df.replace({'Gender': {'M':'Male','F':'Female'}}, inplace = True)

In [ ]:
# Apply function
def age_div(age):
    return age / 2

df['Age_div_def'] = df['Age'].apply(age_div)